  ion-content {
    ion-list {
      ion-item {
        ion-label {
          h2 {
            font-size: 20px;
            font-weight: bold;
          }
  
          p {
            margin-top: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }
  