<ion-content>
  <div class="contact-main">
    <div class="contact-top">
        <h2 class="title">Contactanos</h2>
    </div>
    <div class="contact-botton">
        <div class="col-md9 contact-left">
            <form>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Correo">
                <textarea placeholder="Mensaje" required></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>
</ion-content>