<ion-content>
  <h1 class="container_title">Habitaciones</h1>
  <p class="container_text">El hotel ofrece diversas habitaciones, las cuales cuentan con televisión, internet y una caja fuerte.</p>
  <ul class="rooms">
    <li>
        <h2>Tipo 1:</h2>
        <img class="room" src="../assets/2 camas matrimoniales.jpg">
        <p class="rooms-descripcion">Habitación con una cama king, una matrimonial, un sofa cama y una chimenea</p>
        <p class="rooms-precio">$ 1500.00</p>
    </li>
    <li>
      <h2>Tipo 2:</h2>
      <img class="room" src="../assets/3 camas king.jpg">
      <p class="rooms-descripcion">Habitación con tres camas matrimoniales</p>
      <p class="rooms-precio">$ 1500.00</p>
    </li>
    <li>
      <h2>Tipo 3:</h2>
      <img class="room" src="../assets/3 habitaciones.jpeg">
      <p class="rooms-descripcion">Habitación con una cama king, una matrimonial y una chimenea</p>
      <p class="rooms-precio">$ 1200.00</p>
  </li>
  <li>
    <h2>Tipo 4:</h2>
    <img class="room" src="../assets/2ma.jpg">
    <p class="rooms-descripcion">Habitación con dos camas matrimoniales</p>
    <p class="rooms-precio">$ 900.00</p>
  </li>
  <li>
    <h2>Tipo 5:</h2>
    <img class="room" src="../assets/queen.jpg">
    <p class="rooms-descripcion">Habitación con una cama queen</p>
    <p class="rooms-precio">$ 600.00</p>
  </li>
</ul>
</ion-content>