<ion-content>
  <div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <div class="slide first">
            <img src="../assets/entrada.jpeg" alt="" class="images">
        </div>
        <div class="slide">
            <img src="../assets/entrada2.jpeg" alt="" class="images">
        </div>
        <div class="slide">
            <img src="../assets/entrada3.jpeg" alt="" class="images">
        </div>
        <div class="slide">
            <img src="../assets/entrada4.jpeg" alt="" class="images">
        </div>
    </div>
  </div>
  <div class="header__text">
    <h1>Somos tu mejor opción</h1>
  </div>

  <div class="services">
     <h1 class="container_title_service">Servicios</h1>
    <p class="container_text_service">El hotel ofrece diversos servicios para que tu experiencia sea inolvidable.</p>
    <div class="service">
      <img src="../assets/parking.png" class="footer2">
      <h2 class="container_item">Estacionamiento</h2>
    </div>
    <div class="service">
      <img src="../assets/delivery.png" class="footer2">
      <h2 class="container_item">Servicio las 24 horas</h2>
    </div>
    <div class="service">
      <img src="../assets/wifi.png" class="footer2">
      <h2 class="container_item">Wi-Fi</h2>
    </div>
    <div class="service">
      <img src="../assets/security-camera.png" class="footer2">
      <h2 class="container_item">Cámaras de seguridad</h2>
    </div>
  </div>    
  <div class="feedback">
    <h1 class="container_title">Reseñas de los clientes</h1>
    <p class="container_text">Nos importan mucho nuestros clientes, por ello nos gusta saber que podemos mejorar. A continuación encontrarás las reseñas que nos han dejado nuestros clientes.</p>
    <div class="review">
      <h2 class="container_item">Limpieza</h2>
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
    </div>
    <div class="review">
      <h2 class="container_item">Habitaciones</h2>
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
    </div>
    <div class="review">
      <h2 class="container_item">Servicio</h2>
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
      <img src="../assets/estrella.png" class="rating-stars">
    </div>
  </div>    
  <div class="places">
    <h1 class="container_title">Lugares cercanos</h1>
    <ul class="container_list">
      <li><h2 class="container_items" style="width: 100%;">Centro</h2></li>
      <li><h2 class="container_items" style="width: 100%;">Central camionera</h2></li>
    </ul>
</div>
</ion-content>